@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@*<h1>@ViewData["Title"]</h1>*@
<div class="text-center">
    <h3 class="display-4"><b>Alchemative</b></h3>
    <br>
</div>
        <form method="post">
            <div class="box">
                <h3>Forgot Password</h3><br>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email or Phone" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button style="width: 185px;" type="submit" class="mbtn ">Send Me Instructions</button>
                <p>
                    Don't have an account
                    <a class="fp" asp-page="./register" >sign in </a>now
                </p>
            </div>
        </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
